.form-page {

	.padded-box {
		overflow: auto;
	}
	.radio {
		display: inline-block;
		margin-right: 25px;
		label {
			color: $black !important;
			font-weight: 300;
			font-family: $roboto;
			text-transform: none; 
		}
	}

	input[type='radio'] {
   		-webkit-appearance: none;
   		&:after {
   			width: 16px;
		    height: 16px;
		    border-radius: 16px;
		    top: -2px;
		    left: -1px;
		    position: relative;
		    background-color: #ffffff;
		    box-shadow: 0px 1px 2px rgba(120,120,120,0.5);
		    content: '';
		    display: inline-block;
		    visibility: visible;
		    border: 3px solid white;
   		}
   		&:checked {
   			&:after {
   				width: 16px;
			    height: 16px;
			    border-radius: 16px;
			    top: -2px;
			    left: -1px;
			    position: relative;
			    background-color: $scarlet;
			    box-shadow: 0px 1px 2px rgba(120,120,120,0.5);
			    content: '';
			    display: inline-block;
			    visibility: visible;
			    border: 3px solid white;
   			}
   		}
	}

	input[type='checkbox'] {
		-webkit-appearance: none;
		&:after {
			width: 18px;
		    height: 18px;
		    background-color: #ffffff;
		    left: -31px;
		    box-sizing: border-box;
		    border: none;
		    transition: border-color .2s;
		    box-shadow: 0px 1px 2px rgba(120, 120, 120, 0.5);
		    content: '\f00c';
		    font-family: 'FontAwesome';
		    font-size: 16px;
		    left: -6px;
		    top: -3px;
		    color: transparent;
		    transition: color .2s;
		    position: absolute;
		}
		&:checked {
			&:after {
				 color: $gray;

			}
		}
		
	}


	sup {
		color: $scarlet;
	}

	.form-group label {
		margin-top: 20px;
	}
	
	.checkbox-group-wrapper {
		float: left;
		margin-top: 15px;
	}

	.checkbox label {
		color: $black;
		text-transform: initial;
		margin-left: 6px;
		margin-top: 0px;
	}

	small {
		font-style: italic;
		line-height: 1.4;
	}

	

	.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
		width: 100%;
	}

	.bootstrap-select.btn-group .dropdown-menu  {
		border-radius: 0px;
		li {
			padding-top: 5px;
			padding-bottom: 5px;
			a {
				font-weight: 300;
				&:hover, &:active, &:focus {
					color: $scarlet;
					outline: none;
				}
			}
		}
	}

	.bootstrap-select>.dropdown-toggle {
		@include input();
		height: 34px;
		font-style: initial;
	}

	.bootstrap-select.btn-group .dropdown-toggle .filter-option {
		bottom: 10px;
		position: relative;
	}

}