 .jumbotron {
	border-radius:0px !important;
	margin-bottom:0px;
	height:650px;
}



.hero-section {
	
	.bottom-overlay {
		width:100%;
		background:rgba(0,0,0, .5)
	}

	.jumbotron {
	    background: url(../../assets/hero-images/tbtw-hero-homepage@2x.jpg.jpg) top right;
    	background-size: cover;
    	padding:170px 135px;
    	height:800px;

    	h1 {
    		margin-bottom:60px;
    		font-size:90px;
    		line-height:100px;
    		color:white;
    		font-weight:bold;
    	}
	}
}

.sponsors-section {
	padding:45px 0 60px;
	text-align:center;

	h2 {
		color:white;
		font-weight:200;
	}

	p {
		color:#ddd;
		font-size:21px !important;
		margin:20px 0;

		a {
			color:white !important;
			font-weight:bold;

			&:hover {
				color:white;
				text-decoration:none;
			}
		}
	}

	ul {
		margin:30px 0 20px;

		.logo {
			display:inline-block;
		    margin-top: 0;
		    width: auto;
		    margin:10px 30px;

		    img {
		    	-webkit-filter: grayscale(100%);
	    		filter: grayscale(100%);
	    		transition: all 0.5s;

	    		&:hover {
		    		-webkit-filter: grayscale(0%);
	    			filter: grayscale(0%);
		    	}
		    }
		}


	}
}

.mainpage-tagline {
	padding:35px 0;
	background: #4c555c;
	text-align:center;
	border-bottom:3px solid black;

	span {
		font-size:36px;
		font-weight:200;
		font-style: italic;
		color:white;

		span {
			.source {

			}
		}
	}
}

.acttractions-section {
	.jumbotron {
		background: #1d1d1f;
    	background-size: cover;
    	padding:100px 135px;
    	height:800px;
    	color:white;

    	h2 {
    		font-weight: 200;
		    font-size: 48px;
		    line-height: 55px;
		    margin-bottom:30px;
    	}

    	p {
    		margin-bottom:50px;
    	}
	}	
}


.mainpage-details-section {
	color:white;


	h2 {
		font-weight:200;
		margin-bottom:25px;
	}

	.vip-expriences {
		background: url(../../assets/homepage-block-event@2x.jpg.jpg) top right;
    	background-size: cover;
	}

	.frequent-questions {
		background: #4c555c;
	}

	.favorite-frights {
		background: url(../../assets/homepage-block-vip@2x.jpg.jpg) top right;
    	background-size: cover;
	}

	.sub-detail {
		padding: 35px;
	    text-align: left;
	    min-height: 300px;

	    p {
	    	font-size:18px;
	    	font-weight:300;
	    	line-height:35px;
	    }

	    span {
	    	font-weight:bold;

	    }
	}
}
