@media (max-height: 800px) {
	.mobile-menu-top address {
		font-size:12px;
		line-height: 20px;
	}

	.hours-wrapper {
		font-size: 12px;
	}
	
	ul.social-icons {
		margin-bottom: 0px;
		padding-left: 0px;
		display: flex;
	}
	
	.bottom-menu-top {
		padding-bottom: 0px;
	}
	
	.overflow-menu {
		padding-top:10px !important;
		> ul {
			overflow-y: scroll;
			height: 215px;
		}
	}
}

@media ($screen-sm) {
	main {
		.container-fluid {
			padding:0;
		}
	}
	
	.show-site-switcher {
		display: none !important;
	}
	
	.watch-preview {
		margin-left: 25px;
	}
	
	.calendar {
		.month-name {
			font-size:14px !important;
		}	
	}
	
	p {
		font-size:20px !important;
	}
	#navbar {
		display:none !important;
	}

	.navbar-toggle {
		display:block;
	}

	.hero-section {

		.jumbotron {
			padding: 0px 0px 0px 0px !important;
			height: 600px;
			h1 {
				font-size: 60px;
			    line-height: 65px;
			    text-align:center;
			}

			p {
				text-align:center;
			}
		}
	}

	.mainpage-tagline {
		
		span {
			display:inline-block;
			margin-bottom:10px;
		}
	}

	.acttractions-section {
		.jumbotron {
		    padding: 30px 35px !important;

		    h2 {
		    	font-size:32px;
		    	margin:0px;
		    }

		    p {
		    	font-size:20px;
		    }
		}
	}
}

@media ($screen-xs) {
	
	.main-content-subpages {
		margin-bottom: 0px !important;
	}

	
	.show-site-switcher {
		display: none !important;
	}
	
	
	.acttractions-section {
		.jumbotron {
		    padding: 20px 35px !important;
		}
	}
	
	.watch-preview {
		margin-left: 0px;
	}

	.hero-section {

		.jumbotron {
			padding: 10px 0px 0px 0px !important;
			height: 100%;

			h1 {
				font-size: 40px;
			    line-height: 55px;
			    text-align: center;
			}

			p {
				text-align:left;

				a {
					margin-bottom:20px;
					display:inline-block;
				}

				.btn-big {
					width:90%;
					padding:13px !important;
				}
			}
		}
	}

	.mainpage-tagline {
		padding-right:35px;
		padding-left:35px;

		span {
			font-size:20px;
			display:inline-block;
			margin-bottom:10px;
		}

		label {
			font-size:11px !important;
		}

	}

	.acttractions-section {
		p {
			margin-bottom:30px !important;
		}
		
		h2 {
			font-size:25px !important;
			line-height:35px !important;
		}

		.jumbotron {
			height:750px;
			.btn-big {
				font-size: 12px !important;
			    padding: 15px !important;
			    width: 65%;
			}

			#prison-wrap {
			    width: 100%;
			    margin: 50px auto 0;
			}
		}
	}

	.mainpage-details-section {
		.sub-detail {
			min-height:225px !important;

			h2 {
				margin:0px !important;
				margin-bottom:20px !important;
			}

			p {
				line-height:30px;
			}
		}
	} 

	ul {
		&.social-icons {
			li {
				.fa-2x {
					font-size:1.3em !important;;
				}
			}
		}
	}

	footer { 
		.footer-detail {
			padding:30px;
			//padding-bottom:0px;
			input {
				//width:250px !important;
			}
		}
	}
	
	.calendar {
		.month-name {
			font-size:12px !important;
		}	
	}
	
	.image-library-page {
		
		.filter-row {
			
			select {
				width: 100%;			
			}
		}
	}
	
	h1 {
		font-size: 24px;
	}
	
	.navbar-logo {
		left: 10px;
		display: flex;
		align-items: center;
		top: -3px;	
	}
}


@media ($screen-xxs) {
	.main-content-subpages {
		margin-bottom: 0px !important;
	}
	
	.show-site-switcher {
		display: none !important;
	}
	
	.calendar {
		.month-name {
			font-size:10px !important;
		}	
	}
	
	.watch-preview {
		margin-left: 0px;
	}
	
	.image-library-page {
		
		.filter-row {
			
			select {
				width: 100%;			
			}
		}
	}
	
	.acttractions-section {
		.jumbotron {
			#prison-wrap {
			    width: 150%;
			    margin: 50px auto 0;
			    margin-left: -60px;
			}
		}
	}

	h1 {
		font-size: 20px;
	}
	
	.navbar-logo {
		left: 10px;
		top: -3px;	
	}
}

// these queries are here because the mixin partial comes after the helpers partial

.no-right-padding, .no-left-padding {
	@include screen-xs {
		padding: initial;
	}
}

.press-modal .modal-dialog {
	@include screen-ltmd {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}

