footer {
	padding: 0px 45px;
	@include screen-xs {
		padding: 0px;
	}
	.row {
		margin: 0px;
	}
	
	ul.social-icons {
		margin-bottom: 0px;
		padding-left: 0px;
		display: flex;
	}

	
	
	.col-sm-12 {
		display: flex;
		@include screen-xs {
			flex-direction: column;
			padding: 0px;
		}
	}
	
	.footer-detail {
		padding: 30px;
	    margin: 0;
	    text-align: left;
	    min-height: 180px;
	    transition: all 0.5s;
		z-index: 10000000;
    
	    input {
    		height: 50px;
	    }
	}

	.map-image {
    	background:url(../../assets/footer/footer-map@2x.jpg) top right;
    	background-size: cover;
    	height:275px;
    	margin-right: 5px;
   		margin-left: -15px;
    	width: calc(50% + 15px);
    	@include screen-ltmd {
    		position: relative;
    	}
    	@include screen-xs {
    		width: 100%;
    		min-height: 100%;
    		margin-left: 0px;
    		order: 2;
    		margin-top: 15px;
    		
    	}
    	@include screen-sm {
    		height: initial;
    		flex: 1;
    	}
    	@include screen-md {
	    	height: auto;
    	}
   

    	img {
    		margin-bottom:20px;
    		width: 185px;
    	}
    	
    	p { 
    		font-size:16px;
    		font-weight:bold;
    		color:white;
    	}

    	address { 
    		font-size:16px;
    		color: $black;
    		@include screen-xs {
    			margin-left: 15px;
    		}
    		@include screen-ltmd {
    			position: absolute;
    			bottom: 10px;
    		}
    		a {
    			color: $scarlet;
    			border-bottom: 1px dotted $scarlet;
    			transition: $transition;
    			&:hover {
    				color: $dark-scarlet;
    				border-bottom: 1px dotted $dark-scarlet;
    				text-decoration: none;
    			}
    		}
    	}
    }

    .newsletter-signup {
    	background:#4c555c;
    	height:275px;
    	margin-right: -15px;
    	width: calc(50% + 15px);
    	@include screen-xs {
    		width: 100%;
    		height: auto;
    		margin-right: 0px;
    		margin-top: 15px;
    		order: 1;
    	}
    	@include screen-sm {
    		height: initial;
    		flex: 1;
    	}
    	@include screen-md {
	    	height: auto;
    	}

    	h2 {
			font-weight:200;
			color:white;
			margin-bottom:20px;
			@include screen-xs {
				font-size: 24px;
			}
		}

		input {
			background:#d1d2d4;
			color:#111;
			font-style:italic;
			//width:98% !important;
			border-bottom: none;
		}
		
		.form-inline {
			@include screen-ltxl {
				display: flex;
				justify-content: space-between;
			}
		}

		.form-inline .input-group>.form-control {
			@include screen-ltmd {
				width: 100%;
			}
		}

		.input-group {
			width: 100%;
		}

		.btn-white {
		    height: 50px;
		    padding-left: 25px;
		    padding-right: 25px;
		    margin-left: 10px;
		    @include screen-ltmd {
		    	padding-left: 20px;
		    	padding-right: 20px;
		    	margin-left: 5px;
		    }
		}

	    .form-area {
	    	margin-bottom:30px;
	    	.form-group {
	    		width: 72%;
	    		@include screen-ltmd {
	    			width: 66%;
	    			display: inline-block;
	    		}
	    		button {
	    			float: right;
	    		}
	    	}
	    }
    }
}

#subscribe {
	&::-webkit-input-placeholder {
   color: $gray;
   line-height: 1.6;
}
}