footer {
	border-top:1px solid #eee;
	
	.footer-detail {
		padding: 30px;
	    margin: 0;
	    text-align: left;
	    min-height: 180px;
	    transition: all 0.5s;
		z-index: 10000000;
		position: absolute;
    
	    input {
    		height: 50px;
	    }
	}

	.map-image {
    	background:url(../../assets/footer/footer-map@2x.jpg.jpg) top right;
    	background-size: cover;
    	height:320px;
    	
    	&:before {
	    	content: '';
		    position: absolute;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    opacity: .6;
		    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
		}

    	img {
    		margin-bottom:20px;
    	}
    	
    	p { 
    		font-size:16px;
    		font-weight:bold;
    		color:white;
    	}

    	address { 
    		font-size:16px;
    		font-weight:bold;
    		color:white;
    	}
    }

    .newsletter-signup {
    	background:#4c555c;
    	height:320px;

    	h2 {
			font-weight:200;
			color:white;
			margin-bottom:20px;
		}

		input {
			background:#d1d2d4;
			color:#111;
			font-style:italic;
			width:98% !important;
			border-bottom: none;
		}
		
		.input-group {
			width: 80%;
		}

		.btn-white {
		    height: 50px;
		    padding-left: 25px;
		    padding-right: 25px;
		    margin-left: 10px;
		}

	    .form-area {
	    	margin-bottom:30px;
	    }
    }
}
