
input {
    

    &[type="text"] {
    	@include input();
    }

    &[type="search"] {
    	@include input();
    }

    &[type="email"] {
    	@include input();
    }

    &.grey-input {
    	background:#d1d2d4;
		color:#111;
    }
	 
	input:hover,  
	input:active,  
	input:focus {
	    outline: 0px !important;
	    -webkit-appearance:none !important;
	}
}

select {
	&.form-control {
		line-height:normal;
	    height:40px;
	    -webkit-appearance:none;
	    -moz-appearance:none;
	    -ms-appearance:none;
	    appearance:none;
	    display:block;
	    width:100%;
	    color:#9f9f9f;
	    padding:8px 20px 7px 10px;
	    line-height:normal;
	  	background: #4c545c;
		border-radius: 0px;
		border: 0px;
		border-bottom: 2px solid #2c3135;
		font-style:italic;	
		background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%,transparent 50%);
	  	background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) 0.5em;
	  	
	  	background-size: 5px 5px, 5px 5px, 1px 1.5em;
	  	background-repeat: no-repeat;
	}
}

.form-group {
	label {
		font-size: 14px !important;
		letter-spacing:1px;
		color: $gray;
		text-transform: uppercase;
	}
}

.form-control {
	&:focus {
		border-color: rgba(120, 120, 120, 0.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(120,120,120, 0.6);
	}
}

input[type=file]:focus, input[type=checkbox]:focus {
	outline: 5px auto $gray;
}


input[type=radio]:focus {
	outline: none;
}

.radio input[type=radio] {
	margin-left: -25px;
}


button[type='submit'] {
	padding: 15px 20px;
    font-weight: 300;
    font-family: 'roboto condensed';
    letter-spacing: 1px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 100%;
}

.bootstrap-select.btn-group .dropdown-menu  {
	border-radius: 0px;
		li {
			padding-top: 5px;
			padding-bottom: 5px;
			a {
				font-weight: 300;
				&:hover, &:active, &:focus {
					color: $scarlet;
					outline: none;
				}
			}
		}
}

.bootstrap-select>.dropdown-toggle {
	@include input();
	height: 34px;
	font-style: initial;
}


.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	bottom: 10px;
	position: relative;
}

sup {
	color: $scarlet;
}
