body {
	background: $buff;

	main {
		.container-fluid {
	}
	
			padding:0 45px;
		}
	.calendar {
		.month-name {
			font-size:21px;
		}	
	}
}

.relative-position {
	position: relative;
	
	.tooltip {
		padding:15px !important;
		font-size: 15px;
		font-style: italic;
		
		&.left {
			padding:15px !important;
		}
	}
}

.info-icon {
	cursor: pointer;
	background: url(../../assets/icons/icon-info.svg);
    width: 40px;
    height: 40px;
    background-size: 40px;
    background-repeat: no-repeat;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.show-site-switcher {
    font-size: 15px;
    color: #97979c !important;
    position: absolute;
    top: 16px;
    left: 14px;
    cursor: pointer;
    display: none;
    z-index: 1000000;
 }

.site-switcher-section {
	width:100%;
	background: $dark-buff;
	padding:0px 14px;

	a {
		font-size:15px;
		color:#97979c !important;
		padding:16px 0;
		display:inline-block;
		font-weight:bold;
		transition: $transition;
		border-bottom: 2px solid transparent;

		&:hover {
			color: $scarlet !important;
			text-decoration:none;
			border-bottom: 2px solid $scarlet;
		}
	}
}

.mobile-buy-now {
	background-color:$red;
	padding:18px 0;

	p {
		text-transform:uppercase;
		font-weight:bold;
		font-size:16px !important;
		color:white;
		margin:0px;
	}
	
	.glyphicon {
		margin-right: 10px !important;
	}
}

.subpage-hero-section {
	
	.breadcrumb {
		background:none;
		padding: 0px;
		
		li {
			
			&:first-child {
				a {
				    padding-bottom: 4px;
				    white-space: nowrap;
				    border-bottom: 2px dotted rgba(250,250,250,0.5);
				}
			}
			
			a {
				font-weight: bold;
			    color: white;
			    font-size: 16px;
			    text-transform: uppercase;
			    letter-spacing: 1px;
			    text-shadow: 2px 2px (125, 125, 125, 0.5);

				&:hover {
					color:white;
					text-decoration:none !important;
				}
			}
			
		}

		
	}

	h1 {
		font-size: 82px;
		color:white;
		font-family: $sans-serif;
	    text-shadow: 3px 5px 0px rgba(25, 25, 25, 0.3);
	}

	.parking-hero {
		background-size: cover;
		background-position: top right;
		background-repeat: no-repeat;
		background-image:  url(../../assets/hero-images/hero-image-02@2x.jpg);
		margin-bottom: 5px;
	}

	.generic-hero {
		background-size: 150%;
		background-position: initial;
		background-repeat: no-repeat;
		background-image: url(../../assets/hero-images/hero-image-03@2x.jpg);
		margin-bottom: 5px;
	}

	.press-hero {
		background-size: cover;
		background-position: top right;
		background-repeat: no-repeat;
		background-image: url(../../assets/hero-images/hero-image-01@2x.jpg);
		margin-bottom: 5px;
	}
	
	
	.schedule-hero {
		background-size: cover;
		background-position: top right;
		background-repeat: no-repeat;
		background-image: url(../../assets/hero-images/tbtw-hero-schedule@2x.jpg.jpg);
	}

	.search-hero {
		background-size: cover;
		background-position: top right;
		background-repeat: no-repeat;
		background-image: url(../../assets/hero-images/hero-image-01@2x.jpg);
		margin-bottom: 5px;
	}

	.calendar-hero {
		background-size: cover;
		background-position: top right;
		background-repeat: no-repeat;
		background-image: url(../../assets/hero-images/tbtw-hero-overlay@2x.png.png), url(../../assets/hero-images/tbtw-hero-sample@2x.jpg.jpg);
	}

	.subpage-hero-details {
		height:446px;
		position:relative;
		padding:65px 105px;
		//border-bottom: 2px solid black;
		    
		section {
			position:absolute;
			bottom: 100px;
		}
	}
}

.main-content-subpages {

	margin-bottom:50px;

	h1 {
		color: $black;
	}

	p {
		font-size:18px;
		line-height:30px;
		margin-bottom:25px;
	}

	figcaption { 
	    padding: 20px 0 25px;
	    border-bottom: 1px solid #969696;
	    margin-bottom: 45px;
	    font-size:16px;
	    color: $black;
	    font-weight: 300;
	}

	.panel {
		box-shadow: none;
	}

	.panel-default {
		background:none;
		border-radius:0px;
		border:0px;
		color: $black;
		.panel-body {
			border:0 !important;
			font-size: 16px;
			color:white;
    		line-height: 30px;
		}

		.panel-heading {
			background:none;
			border-radius:0px;
			border:0;
			border-top:1px solid grey;
		}

		h4 {
			a {
				display:block;
				padding-top:14px;
				padding-bottom:14px;
				color: $red;

				&:hover, &:focus, &:active {
					text-decoration:none;
				}
			}
		}
	}

}

.padded-box {
	padding: 65px 105px;
	background: $dark-buff;

	p {
		color: $black;
		font-size:18px;
		font-weight: 300;
	}
}

.calendar-widget {
	position: fixed;
    width: 420px;
    background: #4c555c;
    z-index: 1000000;
    top: 15%;
    right: 0px;
	transition:0.5s all;
	display: none;

    .close-icon {
		position: absolute;
	    padding: 4px 8px;
	    background: #343b43;
	    left: -33px;
	    top: 10px;
	    color: white;
	    font-size: 18px;
	    cursor: pointer;
	}
}

ul {
		&.social-icons {
			li {
				.fa-2x {
					font-size:1.6em !important;;
				}
			}
		}
	}

label {
	text-transform:uppercase;
	color:#aeb1bb;
	font-weight:bold;
	letter-spacing:2px;
}

.modal-content {
	background: #ffffff;

	h3 {
		font-size: 20px;
	}

	p, h3 {
		color: $black;
	}

	p {
		font-size:16px;
		line-height: 1.6;
	}
}

.buy-now-popup {
	background-color:#34393f;
	padding:25px;
	width:400px;
	position:fixed;
	z-index:100000000;
	top:18%;
	right:0px;
	transition:0.5s all;

	h3 {
		color:#e5dc19;
		font-weight:200;
		margin:10px 0;
	}


	ul {
		padding:0px;
		margin:5px 0  30px;

		li {
			list-style:none;
			margin:5px 0 10px 0;
		}
	}

	p {
		font-size:18px;
		color:white;
		margin:0;
		
		&.price {
			font-weight:bold;
		}
	}

	button {
		margin-top:10px;
		font-size: 21px !important;
	}
}

#callout {
	position: fixed;
	width: 450px;
	top: 450px;
	right: -450px;
	background-color: #ffffff;
	padding: 30px 70px 30px 30px;
	color: $black;
	-webkit-box-shadow: 0px 10px 1px -6px rgba(163,161,163,1);
	-moz-box-shadow: 0px 10px 1px -6px rgba(163,161,163,1);
	box-shadow: 0px 10px 1px -6px rgba(163,161,163,1);
		h3 {
			margin-top: 0px;
		}
		a {
			@include red-anchor;
		}
		svg {
			margin-left: 7px;
		}
}

.icon-accordion-right {
	left: 10px;
	position: relative;
	&:before {
		content: url(../../assets/icons/icon-accordion-right.svg);
	    position: absolute;
	    width: 20px;
	    left: -24px;
	}
}

.icon-accordion-down {
	left: 10px;
	position: relative;
	&:before {
		content: url(../../assets/icons/icon-accordion-down.svg);
	    position: absolute;
	    width: 20px;
	    left: -24px;
	}
}



