
.slick-dots {
	bottom: 75px;
	right: 500px;
	width: auto;
	z-index: 50;
	li {
		display: block;
		button {
			&:before {
				font-size: 17px;
				color: $gray;
				opacity: 0.5;
			}
		}
		&.slick-active {
			button {
				&:before {
					color: $scarlet;
				}
			}
		}
	}
}



