@-webkit-keyframes fadeIn {
  0%    { opacity: 0; }
  100%  { opacity: 1; } 
}

@-moz-keyframes fadeIn {
  0%    { opacity: 0; }
  100%  { opacity: 1; } 
}

@-ms-keyframes fadeIn {
  0%    { opacity: 0; }
  100%  { opacity: 1; } 
}

@keyframes fadeIn {
  0%    { opacity: 0; }
  100%  { opacity: 1; } 
}

.fade-in {
    -webkit-animation: fadeIn 1s 1 forwards;                // A sample helper that fades something in, nice for page animations onLoad
    -moz-animation: fadeIn 1s 1 forwards;
    -o-animation: fadeIn 1s 1 forwards;
    animation: fadeIn 1s 1 forwards; 
}

.uppercase {
	text-transform: uppercase !important;
}

.underline-direction {
	background-size: 150px 55px;
    padding-bottom: 4px;
    white-space: nowrap;
    background-repeat: no-repeat;
}

.underline-learn-more {
	background-size: 140px 47px;
    padding-bottom: 4px;
    white-space: nowrap;
    background-repeat: no-repeat;
}

.terror-underline {
	background-image: url(../../assets/icons/icon-underline.svg);
}

.display-none {
    opacity:0;
}

.display-block {
    opacity:1;
}

.red-link {
    color:$red !important;
}
.btn-outline {
  border: 1px solid black;
  background: transparent;
  color: black;
  border-radius: 50px;
  padding: 15px 20px;
  font-size:20px;
  border-radius:0px;
  font-weight:bold;
  transition: $transition;

}
.btn-white { 
  color: $scarlet; 
  background-color: #FFFFFF; 
  border-color: #FFFFFF; 
  text-transform:uppercase;
  border-radius:0px;
  font-size:14px;
  font-weight:bold;
  transition: $transition;
} 
 
.btn-white:hover, 
.btn-white:active, 
.btn-white.active, 
.open .dropdown-toggle.btn-white { 
  color: #FFF; 
  background-color: $scarlet; 
  border-color: $scarlet; 
}

.btn-red { 
  color: #FFF; 
  background-color: $scarlet; 
  border-color: $scarlet; 
  text-transform:uppercase;
  border-radius:0px;
  font-size:14px;
  font-weight:bold;
  transition: $transition;
} 
 
.btn-red:hover, 
.btn-red:active, 
.btn-red.active, 
.open .dropdown-toggle.btn-white { 
  color: $scarlet; 
  background-color: #FFF; 
  border-color: #FFF; 
}

.btn-big {
  font-size:16px !important;
  padding:23px 40px !important;
}

hr {
  border-color: $gray;
}

.press-modal {
    h3 {
      margin-top:0px;
    }
    
    .modal-dialog {
      width:950px;
    }

    .modal-header {
      border-bottom: none;
    }
    .modal-content {
        box-shadow:none;
        border-radius:0px;

        .modal-body {
          padding: 0 60px 60px;
        }
    }

    .caption {
      margin-top:25px;
      p {
        line-height:25px;
        font-size:15px;
        margin-bottom:20px;
      }
    }
}

@media screen and ($screen-sm) {
  
  .main-content-subpages {
		margin-bottom: 0px !important;
	}
  
  p {
    font-size: 16px !important;
  }

  h2 {
    font-size:20px !important;
  }



  
  .container-fluid {
    padding-right:0px !important;
    padding-left:0px !important;
    overflow-x:hidden;
  }

  .subpage-hero-details {
    padding-right:20px !important;
    padding-left:20px !important;
    height:365px !important;
  }

  .subpage-hero-section {

    h1 {
      font-size:36px !important;
    }
  }
  .padded-box {
    padding-right:20px !important;
    padding-left:20px !important;
  }

  .img-responsive {
    margin-bottom:20px;
  }

  .search-page {
    .list-item-detail {
      h3 {
        font-size:18px;
      }

      p {
        font-size:14px;
      }
    }
  }

  .image-library-page {
    .filter-row {
      .btn-outline {
        padding: 6px 12px !important;
        margin-bottom: 0 !important;
        font-size: 14px !important;
        font-weight:400 !important;
      }
    }
  }

  .press-release-page {
    .press-release-detail {
      margin-bottom:10px;
    }
  }

  .static-page {
    h5 {
      font-size:11px;
    }
  }

  .audio-section {
    padding:10px !important;
  }
  #audio-info {
    h2 {
      margin-top:10px;
    }
  }

  #audio-container {
    width: 65px !important;
    height: 65px !important;
    position: relative !important;
    float: left !important;
  }

  .play-icon {
    position: absolute !important;
    left: 24px !important;
    font-size: 20px !important;
    top: 20px !important;

  }
}

ul.social-icons {
  margin-top:20px;

  li {
    padding:0;
    cursor:pointer;
    //border-bottom: 0px !important;
    
    .fa-circle {
      color:white !important;
    }
    .fa-2x {
      font-size:2.5em !important;
    }

    .fa-inverse {
      color:#4c555c !important;
    }

    &:hover {
      .fa-circle {
        color:#3b4349 !important;
      }

      .fa-inverse {
        color:#FFF !important;
      }
    }
  }
}

.help-icon {
	background-image: url(../../assets/icons/icon-info.svg);
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}