//@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i|Roboto:300,300i,500,500i');

body {
	font-family: $roboto;
}

h1, h2, h3, h4, h5 {
	font-family: $sans-serif;
}


h1 {
	letter-spacing: 1px;
}

h2, h3 {
	letter-spacing: 2px;
}

h4 {
	color: $scarlet;
}

h6 {
	text-transform: uppercase;
	font-family: $roboto;
	color: $gray;
}

p, ul, ol {
	font-family: $roboto;
	font-weight: 300;
}

ul, ol {
	font-size: 18px;
	line-height: 30px;
}

button {
	font-family: $sans-serif;
	letter-spacing: 1px;
	font-weight: 300;
}

