@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i|Roboto:300,300i,500,500i');



// Colors - TBTW
$lightgray:         #f1f2f2;
$midgray:           #939598;
$black:             #231f20;
$red:				#DB322B;

$dark-buff:			#EFE9E0;
$buff:				#F9F5EF;
$light-buff:		#FAF6F0;
$off-white:			#F3EEE4;
$sand: 				#BABCBE;

$gray:				#919396;
$indigo:			#D62027;

$scarlet:			#D62027;
$dark-scarlet:		#89070C;



// Typography
$sans-serif:        'Roboto Condensed', Garamond, sans-serif;                      // Define your basic fonts here, for consistency
$roboto:			'Roboto', Georgia, sans-serif;

// Media Queries
$screen-xxs:        'max-width: 480px';
$screen-xs:         'max-width: 767px';
$screen-sm:         'min-width: 768px) and (max-width: 991px';        // These are the precanned bootstrap queries, plus a few extras for fine tuning
$screen-md:         'min-width: 992px) and (max-width: 1199px';
$screen-lg:         'min-width: 1200px) and (max-width: 1439px';
$screen-xl:         'min-width: 1440px';

$screen-ltmd:       'max-width: 991px';                               // These are helpful for defining media queries for a range of sizes
$screen-ltlg:       'max-width: 1199px';                              //   e.g. if you want everything above xs to have a certain style
$screen-ltxl:       'max-width: 1439px';

$screen-gtxs:       'min-width: 768px';
$screen-gtsm:       'min-width: 992px';
$screen-gtmd:       'min-width: 1200px';


// Transition
$transition:        all 0.5s;                                           // For consistent transition animations, use this
